<a href="https://colab.research.google.com/github/nahidosen/1821168042_CSE445_Spring21/blob/main/Classification_Task_Audit_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
from sklearn.impute import SimpleImputer

In [4]:
audit_risk = 'https://raw.githubusercontent.com/nahidosen/1821168042_CSE445_Spring21/main/datasets/audit_risk.csv?token=ASXWIV77VJQESEVYD5NFPLLAUXWZQ'
trial = 'https://raw.githubusercontent.com/nahidosen/1821168042_CSE445_Spring21/main/datasets/trial.csv?token=ASXWIV5QF2KCSGTA27H3JN3AUXW5W'

df_audit_risk = pd.read_csv(audit_risk)
df_trial = pd.read_csv(trial)

In [5]:
df_audit_risk

     Sector_score LOCATION_ID  PARA_A  ...  Detection_Risk  Audit_Risk  Risk
0            3.89          23    4.18  ...             0.5      1.7148     1
1            3.89           6    0.00  ...             0.5      0.5108     0
2            3.89           6    0.51  ...             0.5      0.3096     0
3            3.89           6    0.00  ...             0.5      3.5060     1
4            3.89           6    0.00  ...             0.5      0.2832     0
..            ...         ...     ...  ...             ...         ...   ...
771         55.57           9    0.49  ...             0.5      0.3156     0
772         55.57          16    0.47  ...             0.5      0.3136     0
773         55.57          14    0.24  ...             0.5      0.2912     0
774         55.57          18    0.20  ...             0.5      0.2880     0
775         55.57          15    0.00  ...             0.5      0.2928     0

[776 rows x 27 columns]

In [6]:
df_trial

     Sector_score LOCATION_ID  PARA_A  ...  History_score  Score  Risk
0            3.89          23    4.18  ...              2    2.4     1
1            3.89           6    0.00  ...              2    2.0     0
2            3.89           6    0.51  ...              2    2.0     0
3            3.89           6    0.00  ...              2    4.4     1
4            3.89           6    0.00  ...              2    2.0     0
..            ...         ...     ...  ...            ...    ...   ...
771         55.57           9    0.49  ...              2    2.0     0
772         55.57          16    0.47  ...              2    2.0     0
773         55.57          14    0.24  ...              2    2.0     0
774         55.57          18    0.20  ...              2    2.0     0
775         55.57          15    0.00  ...              2    2.0     0

[776 rows x 18 columns]