<a href="https://colab.research.google.com/github/nahidosen/1821168042_CSE445_Spring21/blob/main/Classification_Task/Classification_Task_Audit_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a) Exploratory Data Analysis (EDA) and all the necessary data preparation

b) Use any of the classification methods to build a predictor for classifying suspicious firms

c) Use proper evaluation parameters that have been discussed in the class to evaluate your result.

d) Submit your code in an ipython notebook format in your Github repository and generate a report describing all of the above mentioned.

In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
from sklearn.impute import SimpleImputer

In [133]:
audit_risk = 'https://raw.githubusercontent.com/nahidosen/1821168042_CSE445_Spring21/main/datasets/audit_risk.csv?token=ASXWIV77VJQESEVYD5NFPLLAUXWZQ'
trial = 'https://raw.githubusercontent.com/nahidosen/1821168042_CSE445_Spring21/main/datasets/trial.csv?token=ASXWIV5QF2KCSGTA27H3JN3AUXW5W'

df_audit_risk = pd.read_csv(audit_risk)
df_trial = pd.read_csv(trial)

In [134]:
df_audit_risk

     Sector_score LOCATION_ID  PARA_A  ...  Detection_Risk  Audit_Risk  Risk
0            3.89          23    4.18  ...             0.5      1.7148     1
1            3.89           6    0.00  ...             0.5      0.5108     0
2            3.89           6    0.51  ...             0.5      0.3096     0
3            3.89           6    0.00  ...             0.5      3.5060     1
4            3.89           6    0.00  ...             0.5      0.2832     0
..            ...         ...     ...  ...             ...         ...   ...
771         55.57           9    0.49  ...             0.5      0.3156     0
772         55.57          16    0.47  ...             0.5      0.3136     0
773         55.57          14    0.24  ...             0.5      0.2912     0
774         55.57          18    0.20  ...             0.5      0.2880     0
775         55.57          15    0.00  ...             0.5      0.2928     0

[776 rows x 27 columns]

In [135]:
df_audit_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    776 non-null    float64
 1   LOCATION_ID     776 non-null    object
 2   PARA_A          776 non-null    float64
 3   Score_A         776 non-null    float64
 4   Risk_A          776 non-null    float64
 5   PARA_B          776 non-null    float64
 6   Score_B         776 non-null    float64
 7   Risk_B          776 non-null    float64
 8   TOTAL           776 non-null    float64
 9   numbers         776 non-null    float64
 10  Score_B.1       776 non-null    float64
 11  Risk_C          776 non-null    float64
 12  Money_Value     775 non-null    float64
 13  Score_MV        776 non-null    float64
 14  Risk_D          776 non-null    float64
 15  District_Loss   776 non-null    int64
 16  PROB            776 non-null    float64
 17  RiSk_E          776 non-null    float64
 18  History         776 non-null    int64
 19  Prob            776 non-null    float64
 20  Risk_F          776 non-null    float64
 21  Score           776 non-null    float64
 22  Inherent_Risk   776 non-null    float64
 23  CONTROL_RISK    776 non-null    float64
 24  Detection_Risk  776 non-null    float64
 25  Audit_Risk      776 non-null    float64
 26  Risk            776 non-null    int64
dtypes: float64(23), int64(3), object(1)
memory usage: 163.8+ KB

In [136]:
df_audit_risk[df_audit_risk['Money_Value'].isnull() == True]

     Sector_score LOCATION_ID  PARA_A  ...  Detection_Risk  Audit_Risk  Risk
642         55.57           4    0.23  ...             0.5      0.2892     0

[1 rows x 27 columns]

In [137]:
df_audit_risk['Money_Value'] = df_audit_risk['Money_Value'].fillna(df_audit_risk['Money_Value'].median())

In [138]:
df_audit_risk.isnull().sum()

Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       0
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
Risk              0
dtype: int64

In [139]:
df_audit_risk.nunique()

Sector_score       13
LOCATION_ID        45
PARA_A            363
Score_A             3
Risk_A            363
PARA_B            358
Score_B             3
Risk_B            360
TOTAL             471
numbers             5
Score_B.1           3
Risk_C              5
Money_Value       328
Score_MV            3
Risk_D            328
District_Loss       3
PROB                3
RiSk_E              5
History             7
Prob                3
Risk_F              7
Score              17
Inherent_Risk     584
CONTROL_RISK       11
Detection_Risk      1
Audit_Risk        601
Risk                2
dtype: int64

In [140]:
df_audit_risk_1 = df_audit_risk.drop(['Detection_Risk'], axis = 1) # Because it has only one value

In [141]:
df_audit_risk_1.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Audit_Risk', 'Risk'],
      dtype='object')

Checked every unique value to find anomaly

In [143]:
df_audit_risk_1["LOCATION_ID"].value_counts()

8          76
19         68
9          53
16         52
12         47
5          44
2          41
4          37
15         35
13         35
6          33
32         29
11         26
22         24
29         21
14         20
18         16
31         12
1          11
37         10
39          9
21          8
27          8
28          8
43          7
25          6
20          5
36          4
30          4
7           4
38          4
40          3
3           3
35          2
41          1
44          1
34          1
SAFIDON     1
17          1
NUH         1
33          1
42          1
24          1
23          1
LOHARU      1
Name: LOCATION_ID, dtype: int64

In [144]:
df_audit_risk_1 = df_audit_risk_1[(df_audit_risk_1.LOCATION_ID != 'LOHARU')]
df_audit_risk_1 = df_audit_risk_1[(df_audit_risk_1.LOCATION_ID != 'NUH')]
df_audit_risk_1 = df_audit_risk_1[(df_audit_risk_1.LOCATION_ID != 'SAFIDON')]

In [145]:
df_audit_risk_1["LOCATION_ID"].value_counts()

8     76
19    68
9     53
16    52
12    47
5     44
2     41
4     37
13    35
15    35
6     33
32    29
11    26
22    24
29    21
14    20
18    16
31    12
1     11
37    10
39     9
27     8
28     8
21     8
43     7
25     6
20     5
30     4
38     4
7      4
36     4
40     3
3      3
35     2
41     1
34     1
44     1
17     1
42     1
24     1
23     1
33     1
Name: LOCATION_ID, dtype: int64

In [146]:
df_audit_risk_2 = df_audit_risk_1.drop_duplicates(keep = 'first')

In [147]:
df_audit_risk_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 775
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   760 non-null    float64
 1   LOCATION_ID    760 non-null    object
 2   PARA_A         760 non-null    float64
 3   Score_A        760 non-null    float64
 4   Risk_A         760 non-null    float64
 5   PARA_B         760 non-null    float64
 6   Score_B        760 non-null    float64
 7   Risk_B         760 non-null    float64
 8   TOTAL          760 non-null    float64
 9   numbers        760 non-null    float64
 10  Score_B.1      760 non-null    float64
 11  Risk_C         760 non-null    float64
 12  Money_Value    760 non-null    float64
 13  Score_MV       760 non-null    float64
 14  Risk_D         760 non-null    float64
 15  District_Loss  760 non-null    int64
 16  PROB           760 non-null    float64
 17  RiSk_E         760 non-null    float64
 18  History        760 non-null    int64
 19  Prob           760 non-null    float64
 20  Risk_F         760 non-null    float64
 21  Score          760 non-null    float64
 22  Inherent_Risk  760 non-null    float64
 23  CONTROL_RISK   760 non-null    float64
 24  Audit_Risk     760 non-null    float64
 25  Risk           760 non-null    int64
dtypes: float64(22), int64(3), object(1)
memory usage: 160.3+ KB

In [148]:
df_audit_risk_3 = df_audit_risk_2.astype(float)

In [149]:
df_audit_risk_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 775
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   760 non-null    float64
 1   LOCATION_ID    760 non-null    float64
 2   PARA_A         760 non-null    float64
 3   Score_A        760 non-null    float64
 4   Risk_A         760 non-null    float64
 5   PARA_B         760 non-null    float64
 6   Score_B        760 non-null    float64
 7   Risk_B         760 non-null    float64
 8   TOTAL          760 non-null    float64
 9   numbers        760 non-null    float64
 10  Score_B.1      760 non-null    float64
 11  Risk_C         760 non-null    float64
 12  Money_Value    760 non-null    float64
 13  Score_MV       760 non-null    float64
 14  Risk_D         760 non-null    float64
 15  District_Loss  760 non-null    float64
 16  PROB           760 non-null    float64
 17  RiSk_E         760 non-null    float64
 18  History        760 non-null    float64
 19  Prob           760 non-null    float64
 20  Risk_F         760 non-null    float64
 21  Score          760 non-null    float64
 22  Inherent_Risk  760 non-null    float64
 23  CONTROL_RISK   760 non-null    float64
 24  Audit_Risk     760 non-null    float64
 25  Risk           760 non-null    float64
dtypes: float64(26)
memory usage: 160.3 KB

now the 2nd dataset

In [150]:
df_trial

     Sector_score LOCATION_ID  PARA_A  ...  History_score  Score  Risk
0            3.89          23    4.18  ...              2    2.4     1
1            3.89           6    0.00  ...              2    2.0     0
2            3.89           6    0.51  ...              2    2.0     0
3            3.89           6    0.00  ...              2    4.4     1
4            3.89           6    0.00  ...              2    2.0     0
..            ...         ...     ...  ...            ...    ...   ...
771         55.57           9    0.49  ...              2    2.0     0
772         55.57          16    0.47  ...              2    2.0     0
773         55.57          14    0.24  ...              2    2.0     0
774         55.57          18    0.20  ...              2    2.0     0
775         55.57          15    0.00  ...              2    2.0     0

[776 rows x 18 columns]

In [151]:
df_trial['SCORE_A'] = df_trial['SCORE_A']/10
df_trial['SCORE_B'] = df_trial['SCORE_B']/10

In [152]:
df_trial

     Sector_score LOCATION_ID  PARA_A  ...  History_score  Score  Risk
0            3.89          23    4.18  ...              2    2.4     1
1            3.89           6    0.00  ...              2    2.0     0
2            3.89           6    0.51  ...              2    2.0     0
3            3.89           6    0.00  ...              2    4.4     1
4            3.89           6    0.00  ...              2    2.0     0
..            ...         ...     ...  ...            ...    ...   ...
771         55.57           9    0.49  ...              2    2.0     0
772         55.57          16    0.47  ...              2    2.0     0
773         55.57          14    0.24  ...              2    2.0     0
774         55.57          18    0.20  ...              2    2.0     0
775         55.57          15    0.00  ...              2    2.0     0

[776 rows x 18 columns]

In [153]:
df_audit_risk.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk'],
      dtype='object')

In [154]:
df_trial.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'SCORE_A', 'PARA_B', 'SCORE_B',
       'TOTAL', 'numbers', 'Marks', 'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk'],
      dtype='object')

In [155]:
# Renameing the columns for the same feature
df_trial.columns = ['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'PARA_B', 'Score_B',
       'TOTAL', 'numbers', 'Marks', 'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk']

In [156]:
df_trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   776 non-null    float64
 1   LOCATION_ID    776 non-null    object
 2   PARA_A         776 non-null    float64
 3   Score_A        776 non-null    float64
 4   PARA_B         776 non-null    float64
 5   Score_B        776 non-null    float64
 6   TOTAL          776 non-null    float64
 7   numbers        776 non-null    float64
 8   Marks          776 non-null    int64
 9   Money_Value    775 non-null    float64
 10  MONEY_Marks    776 non-null    int64
 11  District       776 non-null    int64
 12  Loss           776 non-null    int64
 13  LOSS_SCORE     776 non-null    int64
 14  History        776 non-null    int64
 15  History_score  776 non-null    int64
 16  Score          776 non-null    float64
 17  Risk           776 non-null    int64
dtypes: float64(9), int64(8), object(1)
memory usage: 109.2+ KB

In [157]:
df_trial[df_trial['Money_Value'].isnull() == True]

     Sector_score LOCATION_ID  PARA_A  ...  History_score  Score  Risk
642         55.57           4    0.23  ...              2    2.0     0

[1 rows x 18 columns]

In [158]:
df_trial['Money_Value'] = df_trial['Money_Value'].fillna(df_trial['Money_Value'].median())

In [159]:
df_audit_risk.isnull().sum()

Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       0
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
Risk              0
dtype: int64

In [160]:
df_trial.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'PARA_B', 'Score_B',
       'TOTAL', 'numbers', 'Marks', 'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk'],
      dtype='object')

Checked every unique value to find anomaly

In [162]:
df_trial["LOCATION_ID"].value_counts()

8          76
19         68
9          53
16         52
12         47
5          44
2          41
4          37
15         35
13         35
6          33
32         29
11         26
22         24
29         21
14         20
18         16
31         12
1          11
37         10
39          9
21          8
27          8
28          8
43          7
25          6
20          5
36          4
30          4
7           4
38          4
40          3
3           3
35          2
41          1
44          1
34          1
SAFIDON     1
17          1
NUH         1
33          1
42          1
24          1
23          1
LOHARU      1
Name: LOCATION_ID, dtype: int64

In [163]:
df_trial_1 = df_trial[(df_trial.LOCATION_ID != 'LOHARU')]
df_trial_1 = df_trial_1[(df_trial_1.LOCATION_ID != 'NUH')]
df_trial_1 = df_trial_1[(df_trial_1.LOCATION_ID != 'SAFIDON')]

In [164]:
df_trial_1["LOCATION_ID"].value_counts()

8     76
19    68
9     53
16    52
12    47
5     44
2     41
4     37
13    35
15    35
6     33
32    29
11    26
22    24
29    21
14    20
18    16
31    12
1     11
37    10
39     9
27     8
28     8
21     8
43     7
25     6
20     5
30     4
38     4
7      4
36     4
40     3
3      3
35     2
41     1
34     1
44     1
17     1
42     1
24     1
23     1
33     1
Name: LOCATION_ID, dtype: int64

In [165]:
df_trial_2 = df_trial_1.drop_duplicates(keep = 'first')

In [166]:
df_trial_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 775
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   760 non-null    float64
 1   LOCATION_ID    760 non-null    object
 2   PARA_A         760 non-null    float64
 3   Score_A        760 non-null    float64
 4   PARA_B         760 non-null    float64
 5   Score_B        760 non-null    float64
 6   TOTAL          760 non-null    float64
 7   numbers        760 non-null    float64
 8   Marks          760 non-null    int64
 9   Money_Value    760 non-null    float64
 10  MONEY_Marks    760 non-null    int64
 11  District       760 non-null    int64
 12  Loss           760 non-null    int64
 13  LOSS_SCORE     760 non-null    int64
 14  History        760 non-null    int64
 15  History_score  760 non-null    int64
 16  Score          760 non-null    float64
 17  Risk           760 non-null    int64
dtypes: float64(9), int64(8), object(1)
memory usage: 112.8+ KB

In [167]:
df_trial_3 = df_trial_2.astype(float)

In [168]:
df_trial_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 775
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   760 non-null    float64
 1   LOCATION_ID    760 non-null    float64
 2   PARA_A         760 non-null    float64
 3   Score_A        760 non-null    float64
 4   PARA_B         760 non-null    float64
 5   Score_B        760 non-null    float64
 6   TOTAL          760 non-null    float64
 7   numbers        760 non-null    float64
 8   Marks          760 non-null    float64
 9   Money_Value    760 non-null    float64
 10  MONEY_Marks    760 non-null    float64
 11  District       760 non-null    float64
 12  Loss           760 non-null    float64
 13  LOSS_SCORE     760 non-null    float64
 14  History        760 non-null    float64
 15  History_score  760 non-null    float64
 16  Score          760 non-null    float64
 17  Risk           760 non-null    float64
dtypes: float64(18)
memory usage: 112.8 KB

In [169]:
df_audit_risk_3.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Audit_Risk', 'Risk'],
      dtype='object')

In [170]:
df_trial_3.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'PARA_B', 'Score_B',
       'TOTAL', 'numbers', 'Marks', 'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk'],
      dtype='object')

In [173]:
common_columns = np.intersect1d(df_audit_risk_3.columns, df_trial_3.columns)
common_columns

array(['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Risk', 'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL',
       'numbers'], dtype=object)

In [174]:
df_audit_risk_3['History'].equals(df_trial_3['History'])

True

In [176]:
df_audit_risk_3['LOCATION_ID'].equals(df_trial_3['LOCATION_ID'])

True

In [177]:
df_audit_risk_3['Money_Value'].equals(df_trial_3['Money_Value'])

True

In [178]:
df_audit_risk_3['PARA_A'].equals(df_trial_3['PARA_A'])

True

In [179]:
df_audit_risk_3['PARA_B'].equals(df_trial_3['PARA_B'])

True

In [180]:
df_audit_risk_3['Risk'].equals(df_trial_3['Risk'])

False

In [181]:
df_audit_risk_3['Score'].equals(df_trial_3['Score'])

True

In [182]:
df_audit_risk_3['Score_A'].equals(df_trial_3['Score_A'])

True

In [183]:
df_audit_risk_3['Score_B'].equals(df_trial_3['Score_B'])

True

In [184]:
df_audit_risk_3['Sector_score'].equals(df_trial_3['Sector_score'])

True

In [185]:
df_audit_risk_3['TOTAL'].equals(df_trial_3['TOTAL'])

True

In [186]:
df_audit_risk_3['numbers'].equals(df_trial_3['numbers'])

True

So they are equals but the Risk column in trial dataset has different data which is conflicting to the audit dataset. so two datasets can be merged after droping Risk from trial dataset

In [187]:
df_trial_4 = df_trial_3.drop(['Risk'], axis = 1)

In [188]:
df_trial_4

     Sector_score  LOCATION_ID  PARA_A  ...  History  History_score  Score
0            3.89         23.0    4.18  ...      0.0            2.0    2.4
1            3.89          6.0    0.00  ...      0.0            2.0    2.0
2            3.89          6.0    0.51  ...      0.0            2.0    2.0
3            3.89          6.0    0.00  ...      0.0            2.0    4.4
4            3.89          6.0    0.00  ...      0.0            2.0    2.0
..            ...          ...     ...  ...      ...            ...    ...
770         55.57         18.0    0.75  ...      0.0            2.0    2.0
772         55.57         16.0    0.47  ...      0.0            2.0    2.0
773         55.57         14.0    0.24  ...      0.0            2.0    2.0
774         55.57         18.0    0.20  ...      0.0            2.0    2.0
775         55.57         15.0    0.00  ...      0.0            2.0    2.0

[760 rows x 17 columns]

In [190]:
common_columns = np.intersect1d(df_audit_risk_3.columns, df_trial_4.columns)
common_columns

array(['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'],
      dtype=object)

In [191]:
one_df = pd.merge(df_audit_risk_3, df_trial_4, how='outer', on = ['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'])

In [192]:
one_df

     Sector_score  LOCATION_ID  PARA_A  ...  Loss  LOSS_SCORE  History_score
0            3.89         23.0    4.18  ...   0.0         2.0            2.0
1            3.89          6.0    0.00  ...   0.0         2.0            2.0
2            3.89          6.0    0.51  ...   0.0         2.0            2.0
3            3.89          6.0    0.00  ...   0.0         2.0            2.0
4            3.89          6.0    0.00  ...   0.0         2.0            2.0
..            ...          ...     ...  ...   ...         ...            ...
755         55.57         18.0    0.75  ...   0.0         2.0            2.0
756         55.57         16.0    0.47  ...   0.0         2.0            2.0
757         55.57         14.0    0.24  ...   0.0         2.0            2.0
758         55.57         18.0    0.20  ...   0.0         2.0            2.0
759         55.57         15.0    0.00  ...   0.0         2.0            2.0

[760 rows x 32 columns]

In [193]:
one_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 759
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   760 non-null    float64
 1   LOCATION_ID    760 non-null    float64
 2   PARA_A         760 non-null    float64
 3   Score_A        760 non-null    float64
 4   Risk_A         760 non-null    float64
 5   PARA_B         760 non-null    float64
 6   Score_B        760 non-null    float64
 7   Risk_B         760 non-null    float64
 8   TOTAL          760 non-null    float64
 9   numbers        760 non-null    float64
 10  Score_B.1      760 non-null    float64
 11  Risk_C         760 non-null    float64
 12  Money_Value    760 non-null    float64
 13  Score_MV       760 non-null    float64
 14  Risk_D         760 non-null    float64
 15  District_Loss  760 non-null    float64
 16  PROB           760 non-null    float64
 17  RiSk_E         760 non-null    float64
 18  History        760 non-null    float64
 19  Prob           760 non-null    float64
 20  Risk_F         760 non-null    float64
 21  Score          760 non-null    float64
 22  Inherent_Risk  760 non-null    float64
 23  CONTROL_RISK   760 non-null    float64
 24  Audit_Risk     760 non-null    float64
 25  Risk           760 non-null    float64
 26  Marks          760 non-null    float64
 27  MONEY_Marks    760 non-null    float64
 28  District       760 non-null    float64
 29  Loss           760 non-null    float64
 30  LOSS_SCORE     760 non-null    float64
 31  History_score  760 non-null    float64
dtypes: float64(32)
memory usage: 195.9 KB